#wrapper {
    position: fixed;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.img-responsive center-block {
	width:270px;
	height:150px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-75px 0 0 -135px;
}
