/*body {
	font-family: 'Raleway', sans-serif;
}

.row image-container {
	display: inline-block;
}*/

#wrapper {
    position: fixed;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.img-responsive center-block {
	width:270px;
	height:150px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-75px 0 0 -135px;
}

.container-fluid {
    height: 100%;
    display: table;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.row-fluid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.centering {
    float: none;
    margin: 0 auto;
}